@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
body {
    background-color: rgba(208, 184, 187, 1);
}
.cute-font-regular {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header {
    background-color: rgba(251, 107, 68, 1);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: "Cute Font";
    font-size: 70px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: "Cute Font";
    font-size: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li:nth-child(1) a {
    background-color: rgba(254, 255, 200, 1);
}

nav ul li:nth-child(2) a {
    background-color: rgba(250, 5, 139, 1);
}

nav ul li:nth-child(3) a {
    background-color: rgba(118, 154, 163, 1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(251, 107, 68, 1);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.flex-item {
    flex-basis: 25%;
    margin: 10px;
    text-align: center;
}

.flex-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.flex-item p {
    margin-top: 10px;
    font-family: "Cute Font";
    font-size: 20px;
    color: black;
}

h1 {
    font-family: "Cute Font";
}

.image-container {
    position: relative;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: #fff;
    font-size: 18px;
}

.image-container:hover .overlay {
    opacity: 1;
}